<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>animation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BD583221DB5E6C500F716F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BD5833B1DB5E6C700F716F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BD583461DB5E6C700F716F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
